<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="5 seconds">

  <!--
    Console Développement : Tout est loggé dans la console. Date du jour inutile dans la console, enlevé pour lisibilité
  -->

  <appender name="ConsoleDevAll" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>| %5p | %-200m | %C.%M\(%F:%L\)%n</pattern>
    </encoder>
  </appender>

  <appender name="ConsoleDevSimple" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>| %5p | %-200m%n</pattern>
    </encoder>
  </appender>

  <logger name="org.hibernate" level="INFO" />
  <logger name="org.springframework" level="INFO" />
  <logger name="org.acegisecurity" level="INFO" />
  <logger name="net.sf.ehcache" level="INFO" />
  <logger name="org.apache" level="ERROR" />
  <logger name="org.apache.cxf" level="INFO" />
  <logger name="org.codehaus" level="ERROR" />
  <logger name="httpclient" level="ERROR" />
  <logger name="com.sun" level="ERROR" />
  <logger name="com.ibm" level="ERROR" />
  <logger name="org.ajax4jsf" level="ERROR" />
  <logger name="org.richfaces" level="ERROR" />
  <logger name="org.dozer" level="ERROR" />
  <logger name="net.bull" level="ERROR" />

  <root level="TRACE">
    <appender-ref ref="ConsoleDevAll" />
  </root>
</configuration>